{% extends 'layouts/base.html' %}

{% block body %}
    <div class="container">
        <br>
        <p>
            <a href="{% url 'salida_create' %}" class="btn btn-outline-primary">Crear salida</a>
        </p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>NRO</th>
                <th>ALMACEN</th>
                <!-- <th>USUARIO</th>-->
                <th>CLIENTE</th>
                <th>ENTRAGA</th>
                <th>T.C</th>
                <th>TOTAL</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>

            </tr>
            </thead>
            <tbody>
            {% for salida in object_list %}
                <tr>
                    <td>{{ salida.nro }}</td>
                    <td>{{ salida.cod_almacen }}</td>
                    <!-- <td>{{ salida.cod_usuario }}</td>-->
                    <td>{{ salida.cod_cliente }}</td>
                    <td>{{ salida.fecha_entrega }}</td>
                    <td>{{ salida.tipo_cambio }}</td>
                    <td>{{ salida.get_total }}</td>
                    <!-- <td>{{ salida.tipo }}</td> -->
                    <td><span class="badge badge-success">{{ salida.estado }}</span></td>
                    <td>
                        <a href="{% url 'salida_update' salida.nro %}" class="btn btn-sm btn-secondary">Ver</a>
                        <a href="{% url 'salida_delete' salida.nro %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="float:right;">
            <ul class="pagination">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
                    {% endif %}
                </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>

                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

